:root {
  /* Colors */
  --color-white: #fff;
  --color-gray: #C0C3C9;
  --color-dark: #212529;
  --color-green-light: #15D155;
  --color-green-dark: #22C55E;
  --color-blue: #3B82F6;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page_top{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/image1.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
select{
  padding-left: 10px;
  border-radius: 8px;
  width: 20%;
  height: 50px;
}

.espace{
  height: 100px;
}

/* About */
#about{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/contact.gif);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .accordion{
  width: 80%;
}
#about .accordion-body{
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}
#about .card{
  /* width: 32%; */
  min-height: 400px;
  max-height: 400px;
}
#about p{
  color: var(--color-dark);
}
#about .icon{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .icon i{
  font-size: 100px;
  color: var(--color-green-dark);
}

/* Gallery */
#img_slide{
  width: 100%;
  overflow: hidden;
}
#img_slide img{
  width: 30% !important;
  height: 50vh;
  border-radius: 5%;
}


/* Contact */
#contact{
  width: 100%;
  height: 100vh;
  background-color: var(--color-dark);
  background-image: url(../assets/map-image.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact input{
  height: 50px;
}
#contact textarea{
  min-height: 200px;
  max-height: 300px;
}
#contact button{
  width: 15%;
  height: 60px;
}


/* Footer */
footer{
  width: 100%;
  background-color: var(--color-dark);
}
footer a:hover{
  text-decoration: underline;
  text-transform: uppercase;
}