:root {
    /* Colors */
    --color-white: #fff;
    --color-gray: #C0C3C9;
    --color-dark: #212529;
    --color-green: #15D155;
    --color-blue: #3B82F6;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* style of input type:radio */
input[type="radio"]{
    -webkit-appearance : none;
    appearance         : none;
    width              : 20px;
    height             : 20px;
    margin             : calc(0.75em - 11px) 0.25rem 0 0;
    vertical-align     : top;
    border             : 2px solid #ddd;
    border-radius      : 4px;
    background         : #fff no-repeat center center;
}
input[type="radio"]{
    border-radius : 50%;
}
input[type="radio"]:where(:active:not(:disabled), :focus){
    border-color      : var(--color-green);
    background-color  : var(--color-green);
    outline           : none;
}
/* Style of select */
.search_select_box button{
    height: 45px !important;
    border: 0px;
}
.bi{
    color: var(--color-green) !important;
}


/* Header */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(http://localhost/R-Stadium/assets/image1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: 2s;
}
#logo1{
    color: var(--color-green) !important;
}
#btn_reservation{
    background-color: var(--color-green);
}


/* Reservation */
#reservation{
    width: 100%;
    /* min-height: 100vh; */
    background-image: url(http://localhost/R-Stadium/assets/about.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#reservation #menu_stadium{
    width: 60%;
    margin-left: 20%;
}
#cards_stadium{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_stadium{
    height: 200px;
    border-radius: 10px;
    background-color: var(--color-white);
    clip-path: polygon(8% 0, 92% 0, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
    display: flex;
    padding: 0.5%;
    justify-content: space-between;
    align-items: center;
}
.img_stadium{
    width: 30% !important;
    height: 190px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.img_stadium img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.img_stadium iframe{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}



/* About */
#about{
    width: 100%;
    background-image: url(http://localhost/R-Stadium/assets/about.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about h2{
    color: var(--color-green);
}
#about .card{
    min-height: 380px;
    max-height: 380px;
  }
#about p{
    color: var(--color-dark);
}
#about i{
    font-size: 60px;
    color: var(--color-green);
}
#about i .icon{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Gallery */
#gallery{
    width: 100%;
    background-color: var(--color-dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#gallery div{
    padding: 2px;
}
#gallery img{
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 70%;
}
#gallery img:hover{
    opacity: 100%;
}


/* Contact */
#contact{
    width: 100%;
    height: 100vh;
    background-color: var(--color-dark);
    background-image: url(http://localhost/R-Stadium/assets/map-image.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact input{
    height: 50px;
}
#contact textarea{
    min-height: 200px;
    max-height: 300px;
}
#contact button{
    width: 15%;
    height: 60px;
}



/* Footer */
footer{
    width: 100%;
    background-color: var(--color-dark);
  }
  footer a:hover{
    text-decoration: underline;
    text-transform: uppercase;
  }
